.type {
  display: inline-block;
  padding: 4px 10px;
  color: $color-grey-dark;
  margin-right: 4px;
}

.bronze {
  background-color: #cd7f32;
}

.silver {
  background-color: #c0c0c0;
}

.gold {
  background-color: #ffd700;
}
