<div bp="grid 12">
	<app-form-search (formChange)="search($event)"></app-form-search>
</div>

<div bp="grid 6 4@md 2@lg">
	<a *ngFor="let armorVersion of armorVersions | async" [routerLink]="['./', armorVersion.id]" class="card--media">
		<!--<i [class]="' sprite sprite-' + armorVersion.id"></i>-->
    <img [src]="armorVersion.thumb" />
		<div class="card--media__content">
      {{armorVersion.name}}
      <span bp="float-right">#{{armorVersion.id}}</span>
		</div>
	</a>
</div>

<router-outlet></router-outlet>
