<app-modal [visible]="true" (visibleChange)="close()" (next)="next()" (previous)="previous()">
  <div *ngIf="armor | async; let armor">
    <div>
      <h1>{{ armor.name }}</h1>
      <div class="type" [ngClass]="armor.category.name.toLowerCase()">
        {{ armor.category.name }}
      </div>
    </div>
    <div>
      <h2>Strengths</h2>
      <div *ngFor="let strength of armor.strengths">
        <div class="strength-container">
          <div class="strength" [style.width]="strength.amount * 20 + '%'">&nbsp;{{ strength.strength.name }}</div>
        </div>
      </div>
    </div>
    <!--<i bp="5@sm 4@md" [class]="'sprite sprite-' + armor.id"></i>-->
    <div bp="grid" #view>
      <div bp="6@md" class="image-container">
        <button [disabled]="0 == currentIndex" class="btn-previous" (click)="previous()">
          <i class="fas fa-arrow-left"></i>
        </button>
        <img class="card-img-responsive" [src]="armor.versions[currentIndex].image" />
        <button [disabled]="currentIndex == armor.versions.length - 1" class="btn-next" (click)="next()">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
      <div bp="6@md">
        <h1>{{ armor.versions[currentIndex].name }}</h1>
        <hr />
        <h2>Attacks</h2>
        <div *ngFor="let attack of armor.versions[currentIndex].attacks" class="type" [ngClass]="attack">
          {{ attack.name }}
        </div>
      </div>
    </div>
  </div>
</app-modal>
