<h2>Armors:</h2>
<ul>
  <li *ngFor="let armor of armors | async">
    <div bp="grid">
      <div bp="10@sm" class="type" [ngClass]="armor.category.name.toLowerCase()">{{ armor.name }}</div>
      <button (click)="goToEditArmor(armor.id)" class="btn--raised" bp="1@sm">edit</button>
      <button (click)="deleteArmor(armor.id)" class="btn--raised" bp="1@sm">delete</button>
    </div>
  </li>
</ul>
<div bp="grid">
  <a [routerLink]="['./', 'armor-add']" class="btn--raised" bp="2@sm offset-11@sm">add</a>
</div>

<router-outlet></router-outlet>
